{
  "trailingComma": "es5",
  "tabWidth": 2,
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "bracketSameLine": true,
  "overrides": [
    {
      "files": ["**/*.html", "**/*.css", "**/*.scss"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
